<center>

    <h1><center><img width="60px" src="imagens/logo.jpeg" align="middle" />Calcular Roteiro<center></h1>
    
    <form action= "views/roteiro/calcularoteiroaction.php" method="POST">
        
        <br><input type="text" name="latitude_u" placeholder="latitude atual" size="30"></br>
        
        <br><input type="text" name="longitude_u" placeholder="longitude atual" size="30"></br>

        <br><input type="text" name="tempo_disp" placeholder="tempo disponivel em minutos" size="30"></br>
        
        <br><input type="submit" value="calcula roteiro"></br>
    </form>
    
    </center>

    