<center>

    <h1><center><img width="60px" src="imagens/logo.jpeg" align="middle" />Adicionar Ponto Turistico<center></h1>
    
    <form enctype="multipart/form-data" action= "views/ponto/inserepontoaction.php" method="POST">
        <br><input type="text" name="nome" placeholder="nome" size="30"></br>
        
        <br><input type="text" name="texto" placeholder="descricao" size="30"></br>
       
        <br><input type="text" name="local" placeholder="localizacao" size="30"></br>
        
        <br><input type="text" name="quanto" placeholder="preco medio" size="30"></br>
        
        <br><input type="text" name="tempo" placeholder="tempo de visitacao em minutos" size="30"></br>
        
        <br><input type="text" name="avaliacao" placeholder="avaliacao" size="30"></br>
        
        <br><input type="text" name="latitude" placeholder="latitude" size="30"></br>
        
        <br><input type="text" name="longitude" placeholder="longitude" size="30"></br>
        

        <br>Arquivo <input type="file" name="foto" size="60"></br>

        <br><input type="submit" value="cadastrar ponto"></br>
    </form>
    
    </center>

    